# Supabase Configuration
# Duplicate this file to '.env.local' and populate with your actual Supabase values

NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key-here

# Default LMS YouTube Lecture Links
NEXT_PUBLIC_YT_S1_E1=https://youtu.be/T5rmd-vKQeM?si=FFfRVj_tJ-ZlkJK6
NEXT_PUBLIC_YT_S1_E2=https://youtu.be/yqWX86uT5jM?si=iUXKyNpoJE0lIYk2
NEXT_PUBLIC_YT_S1_E3=https://www.youtube.com/watch?v=t3U3x_kUIbc&list=RDMMt3U3x_kUIbc&start_radio=1
NEXT_PUBLIC_YT_S1_E4=https://youtu.be/yqWX86uT5jM?si=iUXKyNpoJE0lIYk2
NEXT_PUBLIC_YT_S2_E1=https://youtu.be/yqWX86uT5jM?si=iUXKyNpoJE0lIYk2
NEXT_PUBLIC_YT_S3_E1=https://youtu.be/yqWX86uT5jM?si=iUXKyNpoJE0lIYk2
NEXT_PUBLIC_YT_S4_E1=https://youtu.be/yqWX86uT5jM?si=iUXKyNpoJE0lIYk2
NEXT_PUBLIC_YT_S5_E1=https://youtu.be/yqWX86uT5jM?si=iUXKyNpoJE0lIYk2
